.gradle/
build/
local.properties
captures/
*.iml
third_party
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
.externalNativeBuild
.cxx
*.log
*.aab
*.apk
output-metadata.json
*.jks
*.keystore